.chat
  .RightHeader
    .RightHeader__group
      .RightHeader__groupname
        = @group.name
      .RightHeader__memberlist
        Member ：
        .RightHeader__member
          - @group.users.each do |user| 
            = user.name
    .RightHeader__editbutton 
      =link_to "Edit", edit_group_path(@group)
    
  .MessageField 
    = render @messages
    -# = render partial: 'messages/message', collection: @messages
  .Footer
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Form__contents
        = f.text_field :content, class: 'Form__inputContent', placeholder: 'type a message'
        = f.label :image, class: 'Form__inputImage' do
          = icon('far', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'Hidden'
      = f.submit 'Send', class: 'Form__submit'



      -# .Form__inputcontent 
          type a message
      -# .Form__inputimage
      -#  %label{class: "Form__inputimage"}
      -#   = icon('fas', 'image')
      -# %input{type: "file", class: "file"}
      -#  .Form__submit  
            Send



        -# = f.label :image, class: "Form__inputimage" do
        -#     = icon('fas','images')
        -#     %input{type: "file", class:'file'}
        -#   = f.file_field :image, class: "Form__inputimage"